<div class="container mt-5 crear-solicitud">
  <div class="text-center mb-4">
    <h2 class="text-warning">Crear Solicitud</h2>
    <p class="lead text-light">Completa el siguiente formulario para crear una nueva solicitud de adopción.</p>
  </div>

  <form (ngSubmit)="crearSolicitud()" class="bg-secondary p-4 rounded">
    <div class="mb-3">
      <label for="id_mascota" class="form-label text-light">Mascota:</label>
      <select id="id_mascota" [(ngModel)]="nuevaSolicitud.id_mascota" name="id_mascota" class="form-select" required>
        <option value="" disabled selected>Selecciona una mascota</option>
        <option *ngFor="let mascota of mascotas" [value]="mascota.id_mascota">{{ mascota.nombre }}</option>
      </select>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-outline-warning btn-lg">Crear Solicitud</button>
    </div>
  </form>
</div>
